/*Stylesheet for The Project */

body
{
}

/* Header */
#header
{
	margin-left: 20%;
	margin-right: 20%; 
	height: 10%;
}

/* Sections */
#left-float
{
	float: left;
	width: 50%;
	margin-left: 20%;
	margin-right: 1%;
	height: 85%;
	background: black;
}

#right-float
{
	float: right;
	width: 9%;
	margin-right: 20%;
	background: black;
	height: 85%;
}